---
import { published } from "../../data/post"
import Blog from "../../components/layouts/blog.astro";
import Preview from "../../components/blog/preview.astro";

const markdownFiles = await Astro.glob('../../content/**/*.md')
const posts = published( markdownFiles );
---

<Blog>
	<div>
		{posts.map((p) => <Preview post={p} />)}
	</div>
</Blog>